<h1>Exclusive Clubhouse</h1>

<table>
  <thead>
    <tr>
<% if user_signed_in? %>
    <th>Author Name</th>
    <% end %>
      <th>Gossips</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @posts.each do |post| %>
    <tr>
      <% if user_signed_in? %>
      <td><%= post.user.name %></td>
      <% end %>
      
        <td><%= post.body %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Post', new_post_path %>
<%= link_to 'Log In', new_user_session_path %>
<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
